<h3>Results</h3>
{% for result in object_list %}
  <div>
    <h1><a href="{{ result.object.detail_url }}">{{ result.object.title }}</a></h1>
    <p class="lead">
      by
      <a href="#">{{ result.object.author.email }}</a>
    </p>
    <p>{{ result.object.body|striptags|truncatechars:100 }}...</p>
    <div>
        <span class="badge badge-success">Posted on {{ result.object.created }}</span>
    </div>
    <div>Tags:
        {% for tag in result.object.tags.all %}
          <a href="/?tag={{ tag.name }}"><span class="badge badge-success">{{ tag.name }}</span></a>
        {% endfor %}
    </div>
    <div>Categories:
        {% for category in result.object.categories.all %}
          <a href="/?category={{ category.name }}"><span class="badge badge-success">{{ category.name }}</span></a>
        {% endfor %}
    </div>
    <hr>
  </div>
{% endfor %}
